services:
  app:
    build: .
    depends_on:
      - mongo

  mongo:
    image: mongo:7.0
    command: ["--quiet", "--logpath", "/dev/null"]
    ports:
      - "27017:27017"
    volumes:
      - data:/data/db

volumes:
  data: {}
